*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;

}
.contant-Area{
    height: 700px;
}

nav{
    height: 72px;
    border-bottom:3px solid rgba(0, 0, 0, 0.2);
    font-size: 19px;
}
#offer{
    display: inline;
    font-size: 20px;
    background-color: #FF8C00;
    color: white;
    border: 2px solid #FF8C00;
    border-radius: 5px;
    text-transform: uppercase;
}


a{

    margin-right: 50px;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom:20px ;

}

img{
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    top: 10px;
    height: 50px;
    width: 125px;
}

#Search{
    margin-left: 120px;
    display: inline-block;
    margin-right: 20px;
}
.buttons{
    display: inline;    
}
#Login{
    font-size: 20px;
    padding-right: 15px;
    padding-left: 15px;


}
#sign-up{
    margin-right:2px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}




.Sign-up{
    background-color: #00A5EC;
    color: white;
    padding: 3px;
    margin-right: 20px;
}
button{
    margin-right: 20px;
    color: #00A5EC;
    font-size: 19px;
    border: 2px solid #00A5EC;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
#dropdown{
    position: relative;
    left:3px;
    top:2px;
}
h1{
    position: relative;
    top: 50px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1.18181818;
    font-weight: 700;
    font-size: 44px;
    color: #333;
    
}
h2{
    position: relative;
    top:50px;
    text-align: center;

}
#Fire-icon{
    position: relative;
    height: 38px;
    width: 38px;
    right: 50px;
}
.Image-container{
    position: relative;
    top: 30px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
#first-image{
    width: 392px;
    height: 261px;
    border-radius: 15px;
    background-image: url("/internshala-clone/assests/images/div-images/First.png");
    background-size: cover;
}
#second-image{
    width: 392px;
    height: 261px;
    background-image: url("/internshala-clone/assests/images/div-images/second.webp");
    background-size: cover;
    border-radius: 15px;
}
#third-image{
    width: 392px;
    
    height: 261px;
    border-radius: 15px;
    background-image: url("/internshala-clone/assests/images/div-images/thirdwebp.webp");
    background-size: cover;
}

/* new lable */
.newinternships{
    background-color: rgba(228, 227, 227, 0.196);
    margin-top: 40px;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    font-size: 24px;
}
.CATEGORIES{
    position: relative;
    width: 90%;
    left: 100px;
    bottom: 680px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.shape{
    border:1px solid rgba(0, 0, 0, 0.213);
    border-radius: 15px;
    font-size: large;
    padding: 5px 10px 5px 10px;
    cursor: pointer;

}
.shape:hover{
    background-color: #3c89d6;
    border: none;
}


/* boxes */
.interships-content{
    position: relative;
    bottom: 600px;
    height:400px;
    display: flex;
    justify-content: space-evenly;
    
    
}
.hiring{
    height: 400px;
    width: 18%;
    background-color: white;
    border-radius: 15px;
    border: 0.2px solid rgb(237, 237, 237);
}
.hiring p{
    position: relative;
    left: 10px;
    top: 25px;
    color: black;
    font-size: 20px;
    font-weight: 800;
}
.hiring .comanystockname{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.467);

}
.hiring .Comapanylogo {
    position: relative;
    top: -20px;
    left: 150px;
    height: 50px;
    width: 50px;
}


.hiring .moreDetails p {
    font-size: small;
    color: rgba(0, 0, 0, 0.467);
}

.hiring .moreDetails .inside-border{
    position: relative;
    top: 10px;
    width: 250px;
    border-top: 0.50px solid rgba(0, 0, 0, 0.132);
}

.hiring .intern{
    position: relative;
    top: 150px;
    left: 10px;
    height: 20px;
    font: 15px;
    width: 60px;
    padding: 2px 6px 2px 6px ;
    text-align: center;
    border-radius: 7px;
    color: #333;
    border: 1px solid rgba(0, 0, 0, 0.132);
    background-color:rgba(0, 0, 0, 0.132) ;

}

.hiring .view{
    position: relative;
    top: 150px;
    left: 70px;
    color: rgba(0, 0, 255, 0.696);
}


/* underline animation */
.underline{
    position: relative;
    height: 35px;
    width: 525px;
    background-image: url("/internshala-clone/assests/images/underline_fire.png");
    left: 500px;
    top: 44px;
    animation: lineanimtion 1.5s ease-in 1s 1 normal forwards;
}


@keyframes lineanimtion {
    from{
        width: 0px;
    }
    to{
        width: 525px;
    }
}